body{
    font-family: Georgia;

}
#baner{
background-color: #F52EB2;
text-align: center;
}
#główny{
background-color:#C730BD;
text-align: center;
}
#stopka{
background-color: #D8196C;
text-align: center;
}